@CHARSET "ISO-8859-1";

a {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

ul a {
	text-decoration: none;
}

.error {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	background-color: #FFB5B5;
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.failed {
	color: red;
}

#main_menu a {
	color: #2A3373;
}

#second_menu a {
	color: white;
	background-color: #00067F;
}

#main_menu a:hover {
	background-color: #E87171;
	text-decoration: none;
}

#second_menu a:hover {
	background-color: #4B62A1;
	text-decoration: none;
}

#content li:hover {
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

#wrapper {
	background-color: #EEEEEE;
}

#header {
	background-color: #FFFDC0;
}

#main_menu {
	background-color: #E93737;
}
