a {
	color: blue;
	text-decoration: none;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}

table th{
	background-color: #00067F;
	border-bottom-style: solid;
	border-color: #AED9FF;
	border-width: 3px;
	color: white;
}

a:hover {
	text-decoration: underline;
}

.success {
	border-style: solid;
	border-color: green;
	border-width: 1px;
	background-color: #CCFFC4;
	background-image: url(../images/success.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.error {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	background-color: #FFB5B5;
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.failure {
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	background-color: #FFCAA6;
	background-image: url(../images/warning.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.info {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	background-color: #C6CCFF;
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.failed {
	color: orange;
}

.disabled {
	color: gray;
}

.invisible {
	visibility: hidden;
}

.disabled th {
	color: gray;
}

#wrapper {
	background-color: #EEEEEE;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

#header {
	background-color: #FFFDC0;
}

#main_menu {
	background-color: #E93737;
}

#li_last {
	border-bottom-style: solid;
	border-color: white;
	border-width: 1px;
}

#scroll {
	visibility: hidden;
	background-color: white;
	border-style: solid;
	border-collapse: collapse;
	border-color: #000000;
	border-width: 1px;
}

#list td {
	border-bottom-style: solid;
	border-color: #00067F;
	border-width: 1px;
}

#main_menu a {
	color: #2A3373;
}

#second_menu a {
	color: white;
	background-color: #00067F;
}

#third_menu li {
	border-top-style: solid;
	border-color: white;
	border-width: 1px;
}

#details tr {
	background-color: white;
}

#main_menu a:hover {
	background-color: #E87171;
	text-decoration: none;
}

#second_menu a:hover {
	background-color: #4B62A1;
	text-decoration: none;
}

#details .even {
	background-color: #EFFEFE;
}

#details .hightlightrow {
	background-color: blue;
	color: white;
}

#suggest .highlightrow {
	background-color: blue;
	color: white;
}

#details .has_focus {
	border-style: solid;
	border-color: #AED9FF;
	border-width: 2px;
}