@CHARSET "ISO-8859-1";

ul {
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 10px;
}

.hidden {
	display: none;
}

.failed {
	display: inline;
}
	
.frm_small {
	padding: 0 185px;
}

.frm_small fieldset {
	width: 400px;
}

#main_menu li {
	float: left;
}

#main_menu a {
	display: block;
	padding: 0 10px;
	line-height: 30px;
}

#second_menu a {
	display: block;
	padding: 10px 10px;
}

#content li{
	padding: 20px 10px;
}

#console p {
	width: 500px;
	margin: 10px auto;
	padding: 5px 5px 5px 20px;
}

#form label {
	float: left;
	width: 150px;
}

#form input[type="text"], input[type="password"] {
	width: 200px;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	min-height: 580px;
}

#header {
	padding: 1px;
	padding-left: 20px;
}

#main_menu {
	height: 30px;
}

#console {
	min-height: 10px;
	max-height: 50px;
	padding: 0;
	overflow: auto;
}

#second_menu {
	float: left;
	width: 200px;
}

#content {
	float: right;
	min-width: 550px;
	margin: 0 15px;
}

#form {
	margin: 10px 0;
}