html, body {
	height: 100%;
}

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

textarea, select {
	width: 15em;
}

textarea {
	height: 6em;
}

fieldset {
	padding: 1em;
	margin: 0;
}

fieldset p {
	margin: 0.5em;
}

caption span {
	float: left;
}

caption * + span {
	float: right;
}

li form {
	display: inline;
}

input[type="text"], input[type="password"] {
	width: 15em;
}

.hidden {
	display: none;
}

.failed {
	display: inline;
}
	
.content_small {
	width: 40%;
}

.content_medium {
	width: 86%;
	max-width: 780px;
}

.content_large {
	width: 95%;
}

.large_tb {
	width: 92.5%;
}

.authenticate_form {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.authenticate_form > div {
	position: relative;
	padding: 1em;
	width: 35%;
	top: 35%;
	left: 35%;
}

.content_medium div {
	float: left;
	width: 42%;
}

.content_medium div + div {
	float: right;
	width: 56%;
}

#wrapper {
	margin: 0 auto;
	width: 95%;
	max-width: 1100px;
	min-width: 90em;
	min-height: 95%;
}

#header {
	padding: 1em 0;
}

#main_menu {
	height: 3em;
}

#console {
	height: 5em;
	padding: 0;
	overflow: auto;
}

#second_menu {
	float: left;
	width: 25%;
}

#third_menu {
	float: right;
	width: 70%;
	margin-bottom: 2em;
}

#content {
	width: 100%;
	margin-bottom: 2em;
}

#search_product {
	height: 1.5em;
	width: 29em;
}

#scroll {
	position: absolute;
	z-index: 1;
	overflow: auto;
	height: 18em;
	width: 23em;
}

#footer {
	clear: both;
}

#btn_col {
	width: 1em;
}

#product_tb {
	margin: 2em auto;
	height: 2.5em;
}

#product_tb > div {
	float: left;
	padding: 0.5em 0.5em 0 0.5em;
}

#content > div, table {
	margin: 0 auto;
}

#list th, td {
	padding: 1em 2em;
}

#header p, h1 {
	display: inline;
	margin: 0 1em;
}

#main_menu li {
	float: left;
}

#main_menu a {
	display: block;
	padding: 0 1em;
	line-height: 2.7em;
}

#second_menu a {
	display: block;
	padding: 1em;
}

#third_menu ul {
	width: 90%;
	margin: 0 auto;
}

#third_menu li{
	padding: 2em 1em;
}

#console p {
	width: 60%;
	margin: 1em auto;
	padding: 0.5em 0.5em 0.5em 2em;
}

#frm label {
	float: left;
	width: 12em;
}

#details table {
	margin: 0 auto;
}

#details th {
	padding: 0.5em 1em;
}

#details td {
	/* Leave this because of anomaly */
	padding: 0.5em 1em;
}

#prod_supp_tb label {
	float: none;
}

#prod_supp_tb select {
	width: 10em;
}

#sub_menu p {
	float: left;
}

#sub_menu a {
	display: block;
	float: left;
	padding: 0 3em;
}

#header_data p {
	float: left;
	padding: 0 3em;
}

#header_data label {
	width: auto;
	margin-right: 1em;
}

#scroll table {
	float: left;
	width: 20em;
}

#scroll td {
	padding: 0.2em 0.2em;
}

#product_tb label {
	width: auto;
}

#search_product > * {
	float: left;
}

#product_tb > div > * {
	float: left;
}

#search_product input[type="text"] {
	width: 21em;
}

#prod_supp_tb input[type="text"] {
	width: 8em;
}

.content_medium #status_bar {
	float: left;
	width: 50%;
}

.content_large #status_bar {
	float: left;
	width: 30%;
}

.content_medium #details table {
	width: 75%;
}

.content_large #details table {
	width: 95%;
}

#frm #details {
	width: 100%;
	clear: both;
}

#product_tb #quantity, #price, #expiration_date {
	width: 6em;
}