@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: black;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
	font-weight: normal;
}

.failed {
	font-weight: bold;
}

#main_menu a {
	font-weight: bold;
}

#list table caption{
	font-size: 10px;
}

#list table th{
	text-align: left;
}

#form label {
	font-weight: bold;
}

#form {
	font-size: 10px;
}